<%- include('../partials/header') -%>
<%- include('../partials/sidebar') -%>
<!-- content -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <div class="jumbotron">
            <h1 class="display-3">RPS Game Dashboar</h1>
            <p class="lead">Hello [<strong><%= username %></strong>] Welcom to management RPS Game Dashbord</p>
            <hr class="my-2">
            <p>More info</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">To Battle Game Site</a>
            </p>
        </div>
    </div>
</main>
<%- include('../partials/footer') -%>