<%- include('../partials/header') -%>
<div class="jumbotron">
    <h1 class="display-3">Error</h1>
    <p class="lead">Pokoknya error</p>
    <hr class="my-2">
    <p>Error lainya</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Telusuri error</a>
    </p>
</div>
<%- include('../partials/footer') -%></main>